
.main-timeline1:before,
.main-timeline1:after{
    content: '';
    height: 40px;
    width: 40px;
    background-color: #e7e7e7;
    border-radius: 50%;
    border: 10px solid #252840;
    transform:translateX(-50%);
    position: absolute;
    left: 50%;
    top: -34px;
    z-index: 2;
}
.main-timeline1:after{
    top: auto;
    bottom:-3px;
}
.main-timeline1 .timeline1{
    padding: 35px 0;
    margin-top: -30px;
    position: relative;
    z-index: 1;
}
.main-timeline1 .timeline1:before,
.main-timeline1 .timeline1:after{
    content: '';
    height: 100%;
    width: 50%;
    border-radius: 100px 0 0 100px;
    border: 15px solid #252840;
    border-right: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.main-timeline1 .timeline1:after{
    height: calc(100% - 30px);
    width: calc(50% - 12px);
    border-color: #252840;
    left: 12px;
    top: 15px;
}
.main-timeline1 .timeline-content1{ display:inline-block; }
.main-timeline1 .timeline-content1:hover{ text-decoration: none; }
.main-timeline1 .timeline-year1{
    color: #252840;
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
    transform:translateY(-50%);
    position: absolute;
    top: 50%;
    left: 10%;
}
.main-timeline1 .timeline-icon1{
    color: #252840;
    font-size: 80px;
    display: inline-block;
    transform: translateY(-50%);
    position: absolute;
    left: 34%;
    top: 50%;
}
.main-timeline1 .content1{
    color: #252840;
    width: 50%;
    padding: 20px;
    display: inline-block;
    float: right;
}
.main-timeline1 .title1{
    color: #252840;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
.main-timeline1 .description1{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline1 .timeline1:nth-child(even):before{
    left: auto;
    right: 0;
    border-radius: 0 100px 100px 0;
    border: 15px solid #252840;
    border-left: none;
}
.main-timeline1 .timeline1:nth-child(even):after{
    left: auto;
    right: 12px;
    border: 15px solid #252840;
    border-left: none;
    border-radius: 0 100px 100px 0;
}
.main-timeline1 .timeline1:nth-child(even) .content1{ float: left; }
.main-timeline1 .timeline1:nth-child(even) .timeline-year1{
    left: auto;
    right: 10%;
}
.main-timeline1 .timeline1:nth-child(even) .timeline-icon1{
    left: auto;
    right: 32%;
}
.main-timeline1 .timeline1:nth-child(5n+2):before{ border-color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+2):after{ border-color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+2) .timeline-icon1{ color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+2) .timeline-year1{ color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+2) .title1{ color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+3):before{ border-color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+3):after{ border-color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+3) .timeline-icon1{ color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+3) .timeline-year1{ color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+3) .title1{ color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+4):before{ border-color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+4):after{ border-color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+4) .timeline-icon1{ color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+4) .timeline-year1{ color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+4) .title1{ color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+5):before{ border-color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+5):after{ border-color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+5) .timeline-icon1{ color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+5) .timeline-year1{ color: #252840; }
.main-timeline1 .timeline1:nth-child(5n+5) .title1{ color: #252840; }
@media screen and (max-width:1200px){
    .main-timeline1 .timeline1:after{ border-radius: 88px 0 0 88px; }
    .main-timeline1 .timeline1:nth-child(even):after{ border-radius: 0 88px 88px 0; }
}
@media screen and (max-width:767px){
    .main-timeline1 .timeline1{ margin-top: -19px; }
    .main-timeline1 .timeline1:before {
        border-radius: 50px 0 0 50px;
        border-width: 10px;
    }
    .main-timeline1 .timeline1:after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 43px 0 0 43px;
        border-width:10px;
        top: 9px;
        left: 9px;
    }
    .main-timeline1 .timeline1:nth-child(even):before {
        border-radius: 0 50px 50px 0;
        border-width: 10px;
    }
    .main-timeline1 .timeline1:nth-child(even):after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 0 43px 43px 0;
        border-width: 10px;
        top: 9px;
        right: 9px;
    }
    .main-timeline1 .timeline-icon1{ font-size: 60px; }
    .main-timeline1 .timeline-year1{ font-size: 25px; }
}
@media screen and (max-width:479px){
    .main-timeline1 .timeline-icon1{
        font-size: 50px;
        transform:translateY(0);
        top: 25%;
        left: 10%;
    }
    .main-timeline1 .timeline-year1{
        font-size: 25px;
        transform:translateY(0);
        top: 65%;
        left: 9%;
    }
    .main-timeline1 .content1{
        width: 68%;
        padding: 10px;
    }
    .main-timeline1 .title1{ font-size: 18px; }
    .main-timeline1 .timeline1:nth-child(even) .timeline-icon1{
        right: 10%;
    }
    .main-timeline1 .timeline1:nth-child(even) .timeline-year1{
        right: 9%;
    }
}

/* hire page time line css start */


.main-timeline2:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline2 .timeline2{
    width: calc(59% + 200px);
    margin: 0 0 25px 5px;
    float: right;
}
.main-timeline2 .timeline-content2{
    color: #555;
    background: #fff;
    padding: 24px 15px 24px 149px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    display: block;
    position: relative;
}
.main-timeline2 .timeline-content2:hover{ text-decoration: none; }
.main-timeline2 .timeline-content2:before{
    content: '';
    background-color: #252840;
    height: 100%;
    width: 120px;
    position: absolute;
    left: -3px;
    top: 0;
    border-radius: 20px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.main-timeline2 .timeline-year2{
    color: #252840;
    font-size: 40px;
    font-weight: 700;
    line-height: 43px;
    transform: translateY(-50%);
    position: absolute;
    left: 22px;
    top: 50%;
}
.main-timeline2 .timeline-icon2{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 120px;
    transform: translateY(-50%);
    position: absolute;
    left: 0px;
    top: 50%;
}
.main-timeline2 .title2{
    font-size: 23px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.main-timeline2 .description2{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 0;
}
.main-timeline2 .timeline2:nth-child(even){
    margin: 0 5px 25px 0;
    float: left;
}
.main-timeline2 .timeline2:nth-child(even) .timeline-content2{ padding: 24px 157px 24px 49px; }
.main-timeline2 .timeline2:nth-child(even) .timeline-content2:before{
    left: auto;
    right: -3px;
}
.main-timeline2 .timeline2:nth-child(even) .timeline-year2{
    left: auto;
    right: 19px;
}
.main-timeline2 .timeline2:nth-child(even) .timeline-icon2{
    left: auto;
    right: 0px;
}
.main-timeline2 .timeline2:nth-child(4n+2) .timeline-content2:before{ background-color: #252840; }
.main-timeline2 .timeline2:nth-child(4n+2) .timeline-year2{ color: #252840; }
.main-timeline2 .timeline2:nth-child(4n+3) .timeline-content2:before{ background-color: #252840; }
.main-timeline2 .timeline2:nth-child(4n+3) .timeline-year2{ color: #252840; }
.main-timeline2 .timeline2:nth-child(4n+4) .timeline-content2:before{ background-color: #252840; }
.main-timeline2 .timeline2:nth-child(4n+4) .timeline-year2{ color: #252840; }
@media screen and (max-width:767px){
    .main-timeline2 .timeline2,
    .main-timeline2 .timeline2:nth-child(even){
        width: 100%;
        margin: 0 0 30px;
    }
    .main-timeline2 .timeline-content2,
    .main-timeline2 .timeline2:nth-child(even) .timeline-content2{
        text-align: center;
        padding: 24px 15px 24px 149px;
    }
    .main-timeline2 .timeline-content2:before,
    .main-timeline2 .timeline2:nth-child(even) .timeline-content2:before{
        width: 100%;
        height: 100px;
        transform: translateX(-50%) translateY(0);
        left: 50%;
        right:-3px;
        top: 80px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .main-timeline2 .timeline-year2,
    .main-timeline2 .timeline2:nth-child(even) .timeline-year2{
        transform: translateY(0) translateX(-50%);
        left: 50%;
        right: auto;
        top: 20px;
    }
    .main-timeline2 .timeline-icon2,
    .main-timeline2 .timeline2:nth-child(even) .timeline-icon2{
        width: auto;
        transform: translateY(0) translateX(-50%);
        left: 50%;
        right: auto;
        top: 105px;
    }
}

/* hire page timeline css end */

/* erc20-token-development page css start */

/* timeline css start */
.main-timeline5{overflow:hidden;position:relative}
.main-timeline5 .timeline5{position:relative;margin-top:-35px}
.main-timeline5 .timeline5:first-child{margin-top:0}
.main-timeline5 .timeline-icon5,.main-timeline5 .year5{margin:auto;position:absolute;top:0;left:0;bottom:0;right:0}
.main-timeline5 .timeline5:after,.main-timeline5 .timeline5:before{content:"";display:block;width:100%;clear:both}
.main-timeline5 .timeline5:before{content:"";width:100%;height:100%;box-shadow:-8px 0 5px -5px rgba(0,0,0,.5) inset;position:absolute;top:0;right:0;z-index:2}
.main-timeline5 .timeline-icon5{width:170px;height:170px;border-radius:50%;border:25px solid transparent;border-top-color:#252840;border-right-color:#252840;z-index:1;transform:rotate(45deg)}
.main-timeline5 .year5{display:block;width:90px;height:90px;line-height:110px;border-radius:50%;background:#fff;box-shadow:0 0 20px rgba(0,0,0,.4);font-size:11px;font-weight:700;color:#252840;text-align:center;transform:rotate(-45deg)}
.main-timeline5 .timeline-content5{width:38%;float:right;background:#252840;padding:17px 20px;margin:44px 0;z-index:1;position:relative}
.main-timeline5 .timeline-content5:before{content:"";width:20%;height:15px;background:#252840;position:absolute;top:50%;left:-17%;z-index:-1;transform:translateY(-50%)}
.main-timeline5 .title5{font-size:20px;font-weight:700;color:#fff;margin:0 0 10px}
.main-timeline5 .description5{font-size:16px;color:#fff;line-height:24px;margin:0}
.main-timeline5 .timeline5:nth-child(2n):before{box-shadow:8px 0 5px -5px rgba(0,0,0,.5) inset}
.main-timeline5 .timeline5:nth-child(2n) .timeline-icon5{transform:rotate(-135deg);border-top-color:#252840;border-right-color:#252840}
.main-timeline5 .timeline5:nth-child(2n) .year5{transform:rotate(135deg);color:#252840}
.main-timeline5 .timeline5:nth-child(2n) .timeline-content5{float:left}
.main-timeline5 .timeline5:nth-child(2n) .timeline-content5:before{left:auto;right:-17%}
.main-timeline5 .timeline5:nth-child(2n) .timeline-content5,.main-timeline5 .timeline5:nth-child(2n) .timeline-content5:before{background:#252840}
.main-timeline5 .timeline5:nth-child(3n) .timeline-icon5{border-top-color:#252840;border-right-color:#252840}
.main-timeline5 .timeline5:nth-child(3n) .year5{color:#252840}
.main-timeline5 .timeline5:nth-child(3n) .timeline-content5,.main-timeline5 .timeline5:nth-child(3n) .timeline-content5:before{background:#252840}
.main-timeline5 .timeline5:nth-child(4n) .timeline-icon5{border-top-color:#252840;border-right-color:#252840}
.main-timeline5 .timeline5:nth-child(4n) .year5{color:#252840}
.main-timeline5 .timeline5:nth-child(4n) .timeline-content5,.main-timeline5 .timeline5:nth-child(4n) .timeline-content5:before{background:#252840}
@media only screen and (max-width:1199px){.main-timeline5 .timeline{margin-top:-103px}
.main-timeline5 .timeline-content5:before{left:-18%}
.main-timeline5 .timeline5:nth-child(2n) .timeline-content5:before{right:-18%}
}
@media only screen and (max-width:990px){.main-timeline5 .timeline5{margin-top:-127px}
.main-timeline5 .timeline-content5:before{left:-2%}
.main-timeline5 .timeline5:nth-child(2n) .timeline-content5:before{right:-2%}
}
@media only screen and (max-width:767px){.main-timeline5 .timeline5{margin-top:0;overflow:hidden}
.main-timeline5 .timeline5:before,.main-timeline5 .timeline5:nth-child(2n):before{box-shadow:none}
.main-timeline5 .timeline-icon5,.main-timeline5 .timeline5:nth-child(2n) .timeline-icon5{margin-top:-30px;margin-bottom:20px;position:relative;transform:rotate(135deg)}
.main-timeline5 .timeline5:nth-child(2n) .year5,.main-timeline5 .year5{transform:rotate(-135deg)}
.main-timeline5 .timeline-content5,.main-timeline5 .timeline5:nth-child(2n) .timeline-content5{width:100%;float:none;border-radius:0 0 20px 20px;text-align:center;padding:25px 20px;margin:0 auto}
.main-timeline5 .timeline-content5:before,.main-timeline5 .timeline5:nth-child(2n) .timeline-content5:before{width:15px;height:25px;position:absolute;top:-22px;left:50%;z-index:-1;transform:translate(-50%,0)}
}


/*erc-20 timeline css end */


/* hire php timeline css start*/
.main-timeline3:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline3 .timeline3{
    width: calc(50% + 9px);
    padding: 20px 30px 20px 0;
    margin: -20px 0 0 0;
    border-radius: 20px;
    border: 10px solid transparent;
    border-right: 10px solid #252840;
    float: left; 
    position: relative;
}
.main-timeline3 .timeline3:before,
.main-timeline3 .timeline3:after{
    content: '';
    background-color: #252840;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    right: -18px;
    bottom: 40px;
}
.main-timeline3 .timeline3:after{
    border-radius: 3px;
    transform: rotate(45deg);
    right: 20px;
}
.main-timeline3 .timeline-content3{
    color: #fff;
    background: linear-gradient(#252840,#3A3270);
    min-height: 130px;
    padding: 0 0 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 20px;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.main-timeline3 .timeline-content3:hover{ text-decoration: none; }
.main-timeline3 .timeline-icon3{
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 15px;
    right: 16px;
}
.main-timeline3 .title3{
    color: #252840;
    background-color: #fff;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    margin: 0 0 5px;
}
.main-timeline3 .description3 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;
    margin: 20px 80px 0 20px;
}
.main-timeline3 .timeline3:nth-child(even){
    float: right;
    padding: 20px 0 20px 30px;
    margin: -20px 0 0 0;
    border-right: none;
    border-left: 10px solid #252840;
}
.main-timeline3 .timeline3:nth-child(even):before{
    right: auto;
    left: -18px;
}
.main-timeline3 .timeline3:nth-child(even):after{
    right: auto;
    left: 20px;
}
.main-timeline3 .timeline3:nth-child(even) .timeline-icon3{
    right: auto;
    left: 16px;
}
.main-timeline3 .timeline3:nth-child(even) .description3{ margin: 20px 20px 0 80px; }
.main-timeline3 .timeline3:nth-child(4n+2):before,
.main-timeline3 .timeline3:nth-child(4n+2):after{
    background-color: linear-gradient(#252840,#3A3270);
}
.main-timeline3 .timeline3:nth-child(4n+2) .timeline-content3{ background: linear-gradient(#252840,#3A3270); }
.main-timeline3 .timeline3:nth-child(4n+2) .title{ color: #252840; }
.main-timeline3 .timeline3:nth-child(4n+3):before,
.main-timeline3 .timeline3:nth-child(4n+3):after{
    background-color: linear-gradient(#252840,#3A3270);
}
.main-timeline3 .timeline3:nth-child(4n+3) .timeline-content3{ background: linear-gradient(#252840,#3A3270); }
.main-timeline3 .timeline3:nth-child(4n+3) .title{ color: #252840; }
.main-timeline3 .timeline3:nth-child(4n+4):before,
.main-timeline3 .timeline3:nth-child(4n+4):after{
    background-color: linear-gradient(#252840,#3A3270);
}
.main-timeline3 .timeline3:nth-child(4n+4) .timeline-content3{ background: linear-gradient(#252840,#3A3270); }
.main-timeline3 .timeline3:nth-child(4n+4) .title3{ color: #252840; }
@media screen and (max-width:767px){
    .main-timeline3 .timeline3,
    .main-timeline3 .timeline3:nth-child(even){
        width: 100%;
        padding: 20px 0 20px 30px;
        margin: -25px 0 0;
        border-left: 10px solid #fff;
        border-right: none;
    }
    .main-timeline3 .timeline3:before,
    .main-timeline3 .timeline3:nth-child(even):before{
        right: auto;
        left: -17px;
    }
    .main-timeline3 .timeline3:after,
    .main-timeline3 .timeline3:nth-child(even):after{
        right: auto;
        left: 20px;
    }
    .main-timeline3 .description3,
    .main-timeline3 .timeline3:nth-child(even) .description3{
        margin: 20px 20px 0 80px;
    }
    .main-timeline3 .timeline-icon3,
    .main-timeline3 .timeline3:nth-child(even) .timeline-icon3{
        left: 16px;
        right: auto;
    }
}
@media screen and (max-width:576px){
    .main-timeline3 .timeline-content3{ padding-bottom: 70px; }
    .main-timeline3 .description3,
    .main-timeline3 .timeline3:nth-child(even) .description3{
        margin: 20px 20px 0 20px;
    }
}

/* hire php page css end*/

/* blockchain css start */

.main-timelineb{ font-family: 'Poppins', sans-serif; }
.main-timelineb:after{
    content: '';
    display: block;
    clear: both;
}
.main-timelineb .timelineb{
    width: calc(63% + 70px);
    margin: 0 5px 17px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float: left;
}
.main-timelineb .timeline-contentb{
    color: #555;
    background: #fff;
    min-height: 130px;
    padding: 30px 90px 30px 30px;
    border-top: none;
    display: block;
    position: relative;
}
.main-timelineb .timeline-contentb:before{
    content: "";
    background-color: #252840;
    height: 100%;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
}
.main-timelineb .timeline-contentb:hover{ text-decoration: none; }
.main-timelineb .timeline-iconb{
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 16px;
}
.main-timelineb .timeline-yearb{
    color: #333;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: 60px;
}
.main-timelineb .titleb{
    color: #212529;
    font-size: 23px;
    font-weight: 300;
   
    margin: 0 0 10px;
}
.main-timelineb .descriptionb{
    font-size: 14px;
    margin: 0;
}
.main-timelineb .timelineb:nth-child(even){
    float: right;
    margin: 0 0 17px 5px;
}
.main-timelineb .timelineb:nth-child(even) .timeline-contentb{ padding: 30px 30px 30px 90px; }
.main-timelineb .timelineb:nth-child(even) .timeline-contentb:before{
    right: auto;
    left: 0;
}
.main-timelineb .timelineb:nth-child(even) .timeline-iconb{
    right: auto;
    left: 10px;
}
.main-timelineb .timelineb:nth-child(even) .timeline-yearb{
    right: auto;
    left: 60px;
}
.main-timelineb .timelineb:nth-child(4n+2) .timeline-contentb:before{ background-color: #252840; }
.main-timelineb .timelineb:nth-child(4n+2) .titleb{ color: #252840; }
.main-timelineb .timelineb:nth-child(4n+3) .timeline-contentb:before{ background-color: #252840; }
.main-timelineb .timelineb:nth-child(4n+3) .titleb{ color: #252840; }
.main-timelineb .timelineb:nth-child(4n+4) .timeline-contentb:before{ background-color: #252840; }
.main-timelineb .timelineb:nth-child(4n+4) .titleb{ color: #252840; }
@media screen and (max-width:767px){
    .main-timelineb .timelineb,
    .main-timelineb .timelineb:nth-child(even){
        width: 100%;
        margin: 0 0 30px;
    }
}
@media screen and (max-width:576px){
    .main-timelineb .timelineb .timeline-contentb,
    .main-timelineb .timelineb:nth-child(even) .timeline-contentb{
        text-align: center;
        padding: 130px 25px 25px;
    }
    .main-timelineb .timelineb .timeline-contentb:before,
    .main-timelineb .timelineb:nth-child(even) .timeline-contentb:before{
        height: 70px;
        width: 100%;
    }
    .main-timelineb .timeline-iconb,
    .main-timelineb .timelineb:nth-child(even) .timeline-iconb{
        transform: translateY(0) translateX(-50%);
        top: 16px;
        left: 50%;
        right: auto;
    }
    .main-timelineb .timeline-yearb,
    .main-timelineb .timelineb:nth-child(even) .timeline-yearb{
        transform: translateY(0) translateX(-50%);
        top: 80px;
        left: 50%;
        right: auto;
    }
}

/* blockchain css end */
/*------------------------- my css------------------ */
.raj{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 0;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
 
}
/*------------------------- my css------------------ */